.header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: #fff;
}

.logo{
  font-family: 'Times New Roman', sans-serif;
  background-color: #222;
  color: white;
  font-weight: bold;
  padding: 10px 6px;
  font-size: 27px;
  margin: 10px 20px;
}

.auth{
  margin-right: 30px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.get-started-trigger{
  background-color: transparent;
  padding: 10px 8px;
  border-radius: 10px;
  border: 1px solid #1c9963;
  color: #1c9963;
  text-decoration: none;
  margin-left: 16px;
  cursor: pointer;
}
.get-started-trigger:hover{
  border-color: #0a6641;
  color: #0a6641;
}
.login-trigger{
  color: #1c9963;
  text-decoration: none;
  cursor: pointer;
}
.login-trigger:hover{
  color: #0a6641;
}

.search{
  display: flex;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.search:hover{
  border-color: #1c9963;
}

.text{
  box-sizing: border-box;
  height: 35px;
  border: none;
  background-color: transparent;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 280px;
  color: #777;
  padding: 2px 8px;
  outline: none;
}

.search button{
  padding: 8px;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
  color: #777;
}

.search button:hover{
  color: #444;
}

.image{
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 40px;
}

.user-option{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.user, .logout{
  text-decoration: none;
  cursor: pointer;
}

.user{
  color: #222;
}

.logout{
  color: #777;
}

.footer{
    background-color: #222;
    color: white;
    justify-content: space-between;
    align-items: center;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 20px;
}

.info a{
  margin-right: 60px;
  text-decoration: none;
  color: white;
}

.info a:hover{
  color: #1c9963;
}
