body{
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 100vh;
}

.container{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  padding: 72px 0;
  }

.content{
  width: 600px;
  padding: 10px;
  color: #222;
}

.sidebar{
  width: 300px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px
}

.sidebar h1{
  font-size: 26px;
  font-family: 'Times New Roman', sans-serif;
  margin: 10px 0;
}

.community, .write, .popular{
  border-bottom: 1px solid #ddd;
  padding: 10px 10px 20px 10px;
}

.community h1, .write h1, .popular h1, .get-start h1{
  color: #222;
  text-align: center;
}
.sharp{
  background-color: #333;
  padding: 2px 7px;
  border-radius: 25px;
  color: #fff;
  margin-right: 5px;
}
.community-list{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.community-list a{
  font-size: 18px;
  margin: 2px 2px;
  text-decoration: none;
  padding: 6px 6px;
  border-radius: 20px;
  background-color: #eee;
  color: #666;
}

.community-list a:hover{
  background-color: #ddd;
}

.write, .get-start{
  font-size: 18px;
  text-align: center;
  color: #666;
}

.write p, .get-start p{
  margin-top: 0;
  margin-bottom: 20px;
}

.write a, .get-start a{
  padding: 5px 8px 6px 8px;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #1c9963;
  color: #1c9963;
  border-radius: 10px;
}

.write a:hover{
  border-color: #0a6641;
  color: #0a6641;
}
.popular-ask{
  margin: 8px 0;
}

.popular-ask-info{
  font-size: 14px;
  color: #666;
  margin: 0;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.popular-ask-about{
  font-size: 14px;
  color: #666;
  margin: 0;
  display: flex;
  align-items: center;
}

.popular-ask-about span{
  margin: 0 3px;
}

.popular-ask-info p{
  margin: 0;
}

.popular-likes{
  display: flex;
  align-items: center;
  float: right;
}

.popular-ask-info button{
  font-size: 12px;
  color: #666;
  background-color: transparent;
  border: 1px solid #ddd;
  padding: 2px 4px;
  cursor: pointer;
}

.ask-content{
  font-size: 16px;
  margin: 0;
  padding: 5px 0;
  color: #666;
  text-decoration: none;
}

.topics-list{
  width: 100%;
}


.topic{
  border-bottom: 1px solid #ddd;
  width: 100%
}

.auth-user{
  margin: 10px 30px;
}

.topic-content{
  display: flex;
  flex-direction: column;
  padding: 1px 8px;
  width: 100%;
  font-size: 18px;
}

.auth-info, .auth-user, .topic-info, .topic{
  display: flex;
  align-items: center;
}

.auth-info{
    justify-content: center;
}

.auth-option{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.auth-image{
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 50px;
}

.auth-option a{
  cursor: pointer;
  color: #666;
  text-decoration: none;
}

.user-motto{
  margin: 4px 0 8px 0;
  color: #666;
  text-align: center;
}

.auth-info a{
  border: 1px solid #ddd;
  text-decoration: none;
  text-align: center;
  padding: 3px 10px;
  margin: 2px;
}

.topic-info{
  padding: 4px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  align-items: center;
}

.topic-btn{
  text-align: center;
  border: 1px solid #ddd;
  outline: none;
  background-color: transparent;
  width: 100px;
  margin: 2px 0;
  font-size: 13px;
  text-decoration: none;
}

.auth-info a:hover{
  border-color: #aaa;
}

.auth-info p, .topic-btn p{
  color: #666;
  margin: 2px 0;
}

.topic-header{
  display: flex;
  align-items: center;
  color: #666;
  font-size: 14px;
}

.topic-header p{
  margin: 0;
}

.paragraph-topic-content{
  color: #222;
  margin: 4px 0;
  text-decoration: none;
}

.topic-header a{
  color: #666;
  text-decoration: none;
  cursor: pointer;
}

.topic-header a:hover{
  text-decoration: underline;
}

.topic{
  padding: 4px 0;
}

.topic-btn:hover{
  border-color: #bbb;
}

.topic-user-image{
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #000;
  margin-right: 6px;
}

.page{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.page a{
  padding: 1px 6px;
  border: 1px solid #ddd;
  color: #777;
  text-decoration: none;
  border-radius: 4px;
  margin: 0 2px;
}

.page a:hover{
  border-color: #bbb;
}

.page p{
  color: #777;
  margin: 0 2px;
}

.authentication, .get-start{
  padding: 10px 10px 20px 10px;
}

.get-start{
  text-align: center;
}

.vote-link{
  border: 1px solid #777;
  text-decoration: none;
  color: #777;
  padding: 1px;
  border-radius: 4px;
}

.vote-link:hover{
  color: #666;
  border-color: #666;
}
