body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  position: relative;

}

.container{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: #222;
  padding-top: 72px;
}

.topic{
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd;
}

.topic h1{
  font-family: 'Times New Roman', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.topic-user-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #666;
  margin: 0 20px 14px 20px;
}

.user-image{
  border-radius: 100%;
  height: 50px;
  width: 50px;
  background-color: #000;
  margin-right: 10px;
}

.user-info, .user-left-side, .topic-option{
  display: flex;
  align-items: center;
}

.user-info a, .comment-user a{
  color: #222;
  text-decoration: none;
  margin-right: 6px;
}

.user-info a:hover, .comment-user a:hover{
  text-decoration: underline;
}

.information p{
  margin: 0;
}

.topic-type{
  color: #666;
  text-decoration: none;
}

.topic-type:hover{
  text-decoration: underline;
}

.star-form button{
  background-color: transparent;
  border: none;
  outline: none;
  border: 1px solid #1c9963;
  color: #1c9963;
  padding: 2px 5px;
  border-radius: 4px;
}

.star-form button:hover{
  color: #0a6641;
  border-color: #0a6641;
}

.topic-content{
  margin: 0 20px 10px 20px;
  font-size: 18px;
}

.topic-option{
  justify-content: space-between;
  margin: 0 20px;
}

.topic-option a{
  text-decoration: none;
}

.comment{
  color: #666;
}

.comment i{
  margin-right: 6px;
}

.comment:hover{
  color: #444;
}

.report{
  margin-right: 10px;
  border: 1px solid #ca5456;
  color: #ca5456;
  padding: 2px 9px;
  border-radius: 100%;
}

.report:hover{
  border-color: #a83234;
  color: #a83234;
}

.vote{
  margin-right: 10px;
}

.votebtn{
  border: none;
  border: 1px solid #aaa;
  color: #666;
  outline: none;
  background-color: transparent;
  padding: 3px 9px;
  margin: 2px 0;
  border-radius: 4px;
}

.votebtn:hover{
  border-color: #777;
}

.comment-form{
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.comment-form h1{
  font-family: 'Times New Roman', sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-top: 0;
}

.comment-form textarea{
  resize: none;
  width: 80%;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 6px 9px;
  border-color: #bbb;
  font-size: 16px;
  outline: none;
}

.comment-form input[type="submit"]{
  border-radius: 24px;
  background-color: #000;
  color: #fff;
  padding: 16px 24px;
  cursor: pointer;
  width: 100px;
  text-align: center;
  border: none;
}

.comment-form input[type="submit"]:hover{
  background-color: #111;
}

.comments-list, .coment-info{
  display: flex;
  flex-direction: column;
}

.comment-user-image{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #000;
  margin-right: 4px;
}

.comment-user, .comment-likes, .option-element{
  display: flex;
  align-items: center;
}

.comment-element{
  display: flex;
}

.comment-user p, .comment-info p{
  margin: 0;
}

.comment-info{
  padding: 8px;
}

.comment-user{
  justify-content: center;
  align-items: center;
}

.comment-content{
  width: 100%;
}

.comment-element{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.comment-likes button{
  margin-top: 2px;
}

.comment-likes button{
  display: flex;
  background-color: transparent;
  border: none;
  outline: none;
  color: #666;
  padding: 2px 4px;
}

.comment-likes button:hover{
  color: #444
}

.comment-likes i{
  margin-right: 1px;
}

.comment-info-posted{
  font-size: 14px;
  color: #666;
  padding-top: 6px;
}

.stars{
  padding: 4px 0 2px 0;
  color: #666;
  text-align: center;
  font-size: 13px;
}

.stars i{
  color: #c9bf00;
}

.comment-content p{
    margin: 0;
}

.comment-content{
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.errors{
font-size: 14px;
color: #bd000d;
}

.delete{
  background-color: transparent;
  border: none;
  outline: none;
  color: #555;
  font-size: 20px;
  margin-right:10px;
}

.delete:hover{
  color: #333;
}