body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-sizing: border-box;
  padding-top: 72px;
}

.tag{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 4px;
  padding: 2px 10px;
  color: #666;
  background-color: #eee;
  border-radius: 20px;
  transition: 0.4s;
}

.type-element input[type=checkbox]:checked + .type-element label {
  background-color: #ddd;
  transform: scale(0.96);
}

.type-element{
   margin: 4px 0;
}

.visually-hidden{
  display: none;
}

.tag:hover{
  background-color: #ddd;
}

.write-content{
  padding: 20px 60px;
  animation-name: showwrite;
  animation-duration: 0.4s;
}

@keyframes showwrite {
  from{transform: scale(0.8); opacity: 0}
  to{transform: scale(1); opacity: 1}
}

.write-content textarea{
  width: 100%;
  padding: 6px 8px 2px 10px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  resize: none;
  border: none;
  border-bottom: 0.4px solid #000;
  border-left: 0.4px solid #000;
  margin: 20px 0;
}

.write-content input[type="text"]{
  width: 100%;
  border: none;
  font-size: 16px;
  border-bottom: 0.4px solid #000;
  padding: 6px 8px 2px 10px;
  color: #000;
  margin: 20px 0 40px 0;
}

.write-content input[type="submit"]{
  border-radius: 24px;
  background-color: #222;
  color: #fff;
  padding: 16px 24px;
  cursor: pointer;
  border: none;
  margin-top: 30px;
  outline: none;
}

.write-content input[type="submit"]:hover{
  background-color: #111;
}

.write-option{
  display: flex;
  align-items: center;
}

.write-element{
  width: 50%;
  margin: 0;
  padding: 0;
}

.tag-paragraph{
  margin: 4px 0;
}

.tags-list{
  display: flex;;
  flex-wrap: wrap;
  justify-content: center;
}

.write-option a{
  border-radius: 24px;
  background-color: #1c9963;
  color: #fff;
  padding: 16px 24px;
  cursor: pointer;
  border: none;
  outline: none;
  text-decoration: none;
}

.write-option a:hover{
  background-color: #0a6641;
}

.type{
  font-size: 28px;
  color: #222;
  font-family: 'Times New Roman', sans-serif;
  font-weight: bold;
  padding-bottom: 0px;
  margin: 30px 0 0 0;
}

.errors{
font-size: 14px;
color: #bd000d;
}
