<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Topics</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/fragments.css}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div th:replace="fragments/elements :: header"></div>
    <div class="container">
        <div class="content">
            <a class="newest">
                Newest Topics
            </a>
            <div class="topics-list">
                <div th:each="topic : ${topics}" class="topic">
                    <div class="topic-info">
                        <div class="topic-user">
                            <div class="topic-image">

                            </div>
                            <div class="topic-element" style="left: 50px;">
                                <div class="user-info">
                                    <a class="author-username" th:text="${topic.getUsername()}" href="#"></a>
                                    <a class="follow" href="#">Follow</a>
                                </div>
                                <p class="post-at">Posted <span th:text="${topic.getPosted()}"></span> ago</p>
                            </div>
                        </div>
                        <div class="topic-info">
                            <button class="button-option" type="button" name="like"><i class="fa fa-thumbs-up icon"></i>618</button>
                            <button class="button-option" type="button" name="unlike"><i class="fa fa-thumbs-down icon"></i>8</button>
                        </div>
                    </div>

                    <div class="topic-content" th:text="${topic.getDescription()}">

                    </div>
                    <div class="topic-option">
                        <button class="button-option" type="button" name="share"><i class="fa fa-share-alt icon"></i>share</button>
                        <button class="button-option" type="button" name="comment"><i class="fa fa-comments-o icon"></i>comment</button>
                        <button class="button-option" type="button" name="save"><i class="fa fa-paperclip icon"></i>save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar">
            <div class="community">
                <h1>Programming Categories</h1>
                <div class="community-list">
                    <a href="#"><span class="sharp">#</span>C</a>
                    <a href="#"><span class="sharp">#</span>Java</a>
                    <a href="#"><span class="sharp">#</span>Python</a>
                    <a href="#"><span class="sharp">#</span>JavaScript</a>
                    <a href="#"><span class="sharp">#</span>Ruby</a>
                    <a href="#"><span class="sharp">#</span>C#</a>
                    <a href="#"><span class="sharp">#</span>SQL</a>
                    <a href="#"><span class="sharp">#</span>PHP</a>
                    <a href="#"><span class="sharp">#</span>Swift</a>
                    <a href="#"><span class="sharp">#</span>C++</a>
                    <a href="#"><span class="sharp">#</span>HTML & CSS</a>
                    <a href="#"><span class="sharp">#</span>Other</a>
                </div>
            </div>
            <div class="write">
                <h1>Questions</h1>
                <p>Can't solve a problem?
                    Ask and get solution from other users.</p>
                <a th:href="@{/write/question}">Ask Question</a>
            </div>
            <div class="popular">
                <h1>Newest Questions</h1>
                <div class="popular-list">
                    <div class="popular-ask" th:each="question : ${questions}">
                        <p class="popular-ask-info">Posted by <span class="span-space" th:text="${question.getUsername()}"></span> &middot <span class="span-space" th:text="${question.getPosted()}"></span> ago</p>
                        <p class="ask-content" th:text="${question.getTitle()}"></p>
                        <div class="popular-ask-info vote-info">
                            <button type="button" class="vote" name="button">Vote</button>
                            <p>18 votes</p>
                        </div>
                    </div>
                </div>
                <a class="popular-more" href="#">See more</a>
            </div>
            <div class="topics">
                <h1>Topics</h1>
                <p>Do you want share your knowledge and help somebody? Write your own tutorial</p>
                <a th:href="@{/write/topic}">Write Topic</a>
            </div>
        </div>
    </div>
    <div th:replace="fragments/elements :: footer-help"></div>
    <div th:replace="fragments/elements :: footer"></div>
    <script th:src="@{/javascript/elements.js}"></script>
</body>
</html>