<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Topics</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/fragments.css}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div th:replace="fragments/elements :: header"></div>
    <div class="container">
        <div class="content">
            <div class="topics-list">
                <div th:each="topic : ${topics}" class="topic">
                        <div class="topic-info">
                            <a th:href="@{/topic/{tid}#vote-id(tid=${topic.getId()})}" class="topic-btn" type="submit" name="button">
                                <p>Vote</p>
                                <p>45</p>
                            </a>
                            <a th:href="@{/topic/{tid}#comment-id(tid=${topic.getId()})}" class="topic-btn">
                                <p>Comment</p>
                                <p th:text="${topic.getCommentSize()}"></p>
                            </a>
                        </div>
                    <div class="topic-content">
                        <div class="topic-header">
                            <div class="topic-user-image"></div>
                            <p><a th:href="@{/profile/{userId}(userId = ${topic.getUsername().toLowerCase()})}" th:text="${topic.getUsername()}"></a> &middot Posted <span th:text="${topic.getPostedAt()}"></span> ago at <a th:href="@{/page(type=${topic.getType().toLowerCase()})}" th:text="${topic.getType()}"></a></p>
                        </div>
                        <a th:href="@{/topic/{tid}(tid=${topic.getId()})}" class="paragraph-topic-content" th:text="${topic.getTitle()}"></a>
                    </div>
                </div>
            </div>
            <div class="page" th:if="${typeEnum != null && pageListSize>1}">
                <a th:if="${pageId > 1}" th:href="@{/topic(type=${typeEnum},page=${pageId-1})}">prev</a>
                <a th:if="${pageId > 1}" th:href="@{/topic(type=${typeEnum},page=1)}">1</a>
                <p th:if="${pageId > 1}">...</p>
                <a th:if="${pageListSize > 5 && i < pageListSize}" th:each="i : ${#numbers.sequence(pageId, pageId + 4)}" th:href="@{/topic(type=${typeEnum},page=${i})}" th:text="${i}" th:style="${i == pageId? 'border-color: #999': ''}"></a>
                <a th:if="${pageListSize <= 5}" th:each="i : ${#numbers.sequence(pageId, pageListSize)}" th:href="@{/topic(type=${typeEnum},page=${i})}" th:text="${i}"></a>
                <p th:if="${pageListSize > 5 && pageId < pageListSize-1}">...</p>
                <a th:if="${pageListSize > 5}" th:href="@{/topic(type=${typeEnum},page=${pageListSize})}" th:text="${pageListSize}" th:style="${pageListSize == pageId? 'border-color: #999': ''}"></a>
                <a th:if="${pageId < pageListSize}" th:href="@{/topic(type=${typeEnum},page=${pageId+1})}">next</a>
            </div>
            <div class="page" th:if="${typeEnum == null && pageListSize>1}">
                <a th:if="${pageId > 1}" th:href="@{/topic(page=${pageId-1})}">prev</a>
                <a th:if="${pageId > 1}" th:href="@{/topic(page=1)}">1</a>
                <p th:if="${pageId > 1}">...</p>
                <a th:if="${pageListSize > 5 && i < pageListSize}" th:each="i : ${#numbers.sequence(pageId, pageId + 4)}" th:href="@{/topic(page=${i})}" th:text="${i}" th:style="${i == pageId? 'border-color: #999': ''}"></a>
                <a th:if="${pageListSize <= 5}" th:each="i : ${#numbers.sequence(pageId, pageListSize)}" th:href="@{/topic(page=${i})}" th:text="${i}" th:style="${i == pageId? 'border-color: #999': ''}"></a>
                <p th:if="${pageListSize > 5 && pageId < pageListSize-1}">...</p>
                <a th:if="${pageListSize > 5}" th:href="@{/topic(page=${pageListSize})}" th:text="${pageListSize}" th:style="${pageListSize == pageId? 'border-color: #999': ''}"></a>
                <a th:if="${pageId < pageListSize}" th:href="@{/topic(page=${pageId+1})}">next</a>
            </div>
        </div>
        <div class="sidebar">
            <div class="community">
                <h1>Programming Categories</h1>
                <div class="community-list">
                    <a th:each="type : ${T(com.forum.forum.enums.Type).values()}" th:href="@{topic(type=${type.name().toLowerCase()})}"><span class="sharp">#</span><span th:text="${type.getDisplayName()}"></span></a>
                </div>
            </div>
            <div class="write">
                <h1>Write</h1>
                <p>Can't solve a problem?
                    Ask and get solution from other users.</p>
                <a th:href="@{/write}">Write</a>
            </div>
            <div class="popular">
                <h1>Getting Popular</h1>
                <div class="popular-list">
                    <div class="popular-ask">
                        <p class="popular-ask-info">Posted by Andrew Know &middot 3 hours ago</p>
                        <p class="ask-content">How I can read an .arrow file using C++?</p>
                        <div class="popular-ask-info">
                            <button type="button" class="vote" name="button">Vote</button>
                            <p>18 votes</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="get-start" sec:authorize="isAnonymous()">
                <h1>Get Started</h1>
                <p>Register and join to our community. Get answer for mind-boggling questions or help somebody</p>
                <a th:href="@{/get-started}">Get Started</a>
            </div>
            <div class="authentication" sec:authorize="isAuthenticated()">
                <div class="auth-user">
                    <div class="auth-image">

                    </div>
                    <div class="auth-option">
                        <a th:href="@{/profile/{username}(username = ${#authentication.getPrincipal().getUsername().toLowerCase()})}" style="color: #222;" sec:authentication="name"></a>
                        <a th:href="@{/logout}">logout <i class="fa">&#xf08b;</i></a>
                    </div>
                </div>
                <p class = "user-motto">"coding" Makes you smartest, becouse all can't do it all</p>
                <div class="auth-info">
                    <a th:href="@{/profile/{username}(username = ${#authentication.getPrincipal().getUsername()},value=vote)}">
                        <p>Votes</p>
                        <p>120</p>
                    </a>
                    <a th:href="@{/profile/{username}(username = ${#authentication.getPrincipal().getUsername()},value=comment)}">
                        <p>Comments</p>
                        <p th:text="${#authentication.getPrincipal().getComments().size()}"></p>
                    </a>
                    <a th:href="@{/profile/{username}(username = ${#authentication.getPrincipal().getUsername()},value=topic)}">
                        <p>Posts</p>
                        <p th:text="${#authentication.getPrincipal().getTopics().size()}"></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/elements :: footer"></div>
</body>
</html>