<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Topics</title>
    <link rel="stylesheet" th:href="@{/css/fragments.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:replace="fragments/elements :: header"></div>
<div class="container">
    <div class="user-bar">
        <div class="user-header">
            <div class="user-left">
                <div class="user-image">

                </div>
                <div class="user-info">
                    <p class="username" th:text="${userOutputDto.getUsername()}"></p>
                    <p class="createdAt">Account created at <span th:text="${userOutputDto.getCreatedAt()}"></span></p>
                    <p class="motto">"coding" Makes you smartest, becouse all can't do it all</p>
                </div>
            </div>
            <div class="user-information">
                <a href="#" class="star">Star</a>
                <div class="user-stats">
                    <div class="stat">
                        <p><span class="topic-icon">T</span><span th:text="${userOutputDto.getTopicCount()}"></span></p>
                        <p><span class="vote-icon">V</span>12</p>
                    </div>
                    <div class="stat">
                        <p><span class="comment-icon" id="comment-color"><i class="fa fa-comments-o icon"></i></span><span th:text="${userOutputDto.getCommentCount()}"></span></p>
                        <p><span class="star-icon"><i class="fa fa-star"></i></span>9</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-footer">
            <div class="user-left">
                <a th:href="@{/profile/{user}(user=${userVariable})}" th:style="${valueParam == null? 'border-bottom: 1px solid #444': ''}">Topics</a>
                <a th:href="@{/profile/{user}(user=${userVariable},value=comment)}" th:style="${valueParam == 'comment'? 'border-bottom: 1px solid #444': ''}">Comments</a>
                <a th:href="@{/profile/{user}(user=${userVariable},value=vote)}" th:style="${valueParam == 'vote'? 'border-bottom: 1px solid #444': ''}">Votes</a>
            </div>
            <div class="option-element">
            <a th:href="@{/profile/{user}/report(user = ${userVariable})}" class="report"><i class="fa fa-exclamation"></i></a>
                <a href="#" sec:authorize="isAuthenticated()" th:if="${#authentication.getPrincipal().getUsername().equals(userOutputDto.getUsername())}" class="edit"><i class="fa fa-edit"></i></a>
                <form sec:authorize="isAuthenticated()" th:if="${#authentication.getPrincipal().getUsername().equals(userOutputDto.getUsername()) || #authentication.getPrincipal().getRole().equals('ADMIN')}" method="post">
                    <button class="delete"><i class="fa fa-trash-o"></i></button>
                </form>
            </div>
        </div>
    </div>
    <div th:if="${valueParam == null}" class="topic-list">
        <div th:each="topic : ${topics}" class="topic">
            <p class="topic-icon">T</p>
            <a th:href="@{/topic/{id}(id = ${topic.getId()})}" class="topic-title" th:text="${topic.getTitle()}"></a>
            <div class="topic-info">
                <p th:text="${topic.getCreatedAt()}"></p>
                <p>10 Votes  <span th:text="${topic.getCommentsCount()}"></span> Comments</p>
            </div>
        </div>
    </div>
    <div th:if="${valueParam == 'comment'}" class="topic-list">
        <div th:each="topic : ${topics}" class="topic">
            <p class="comment-icon"><i class="fa fa-comments-o icon"></i></p>
            <a th:href="@{/topic/{id}(id = ${topic.getId()})}" class="topic-title" th:text="${topic.getTitle()}"></a>
            <div class="topic-info">
                <p>Posted by <a th:href="@{/profile/{username}(username = ${topic.getUsername().toLowerCase()})}" th:text="${topic.getUsername()}"></a></p>
                <p th:text="${topic.getCreatedAt()}"></p>            </div>
        </div>
    </div>
    <div th:if="${valueParam == 'vote'}" class="topic-list">
        <div th:each="topic : ${topics}" class="topic">
            <p class="vote-icon">Vote</p>
            <a th:href="@{/topic/{id}(id = ${topic.getId()})}" class="topic-title" th:text="${topic.getTitle()}"></a>
            <div class="topic-info">
                <p>Posted by <a th:href="@{/profile/{username}(username = ${topic.getUsername().toLowerCase()})}" th:text="${topic.getUsername()}"></a></p>
                <p th:text="${topic.getCreatedAt()}"></p>            </div>
        </div>
    </div>
    <div class="topic-list" th:if="${topics.size() == 0}">
        <p class="blank">There are not <span th:if="${valueParam == 'vote'}">voted </span><span th:if="${valueParam == 'comment'}">commented </span>topics yet</p>
    </div>
    <div class="page" th:if="${valueParam == null && pageListSize > 1}">
        <a th:if="${pageId > 1}" th:href="@{/profile/{user}(user=${userVariable},page=${pageId-1})}">prev</a>
        <a th:if="${pageId > 1}" th:href="@{/profile/{user}(user=${userVariable},page=1)}">1</a>
        <p th:if="${pageId > 1}">...</p>
        <a th:if="${pageListSize > 5 && i < pageListSize}" th:each="i : ${#numbers.sequence(pageId, pageId + 4)}" th:href="@{/profile/{user}(user=${userVariable},page=${i})}" th:text="${i}" th:style="${i == pageId? 'border-color: #999': ''}"></a>
        <a th:if="${pageListSize <= 5}" th:each="i : ${#numbers.sequence(pageId, pageListSize)}" th:href="@{/profile/{user}(user=${userVariable},page=${i})}" th:text="${i}"></a>
        <p th:if="${pageListSize > 5 && pageId < pageListSize-1}">...</p>
        <a th:if="${pageListSize > 5}" th:href="@{/profile/{user}(user=${userVariable},page=${pageListSize})}" th:text="${pageListSize}" th:style="${pageListSize == pageId? 'border-color: #999': ''}"></a>
        <a th:if="${pageId < pageListSize}" th:href="@{/profile/{user}(user=${userVariable},page=${pageId+1})}">next</a>
    </div>
    <div class="page" th:if="${valueParam != null && pageListSize > 1}">
        <a th:if="${pageId > 1}" th:href="@{/profile/{user}(user=${userVariable},value=${valueParam},page=${pageId-1})}">prev</a>
        <a th:if="${pageId > 1}" th:href="@{/profile/{user}(user=${userVariable},value=${valueParam},page=1)}">1</a>
        <p th:if="${pageId > 1}">...</p>
        <a th:if="${pageListSize > 5 && i < pageListSize}" th:each="i : ${#numbers.sequence(pageId, pageId + 4)}" th:href="@{/profile/{user}(user=${userVariable},value=${valueParam},page=${i})}" th:text="${i}" th:style="${i == pageId? 'border-color: #999': ''}"></a>
        <a th:if="${pageListSize <= 5}" th:each="i : ${#numbers.sequence(pageId, pageListSize)}" th:href="@{/profile/{user}(user=${userVariable},page=${i})}" th:text="${i}"></a>
        <p th:if="${pageListSize > 5 && pageId < pageListSize-1}">...</p>
        <a th:if="${pageListSize > 5}" th:href="@{/profile/{user}(user=${userVariable},value=${valueParam},page=${pageListSize})}" th:text="${pageListSize}" th:style="${pageListSize == pageId? 'border-color: #999': ''}"></a>
        <a th:if="${pageId < pageListSize}" th:href="@{/profile/{user}(user=${userVariable},value=${valueParam},page=${pageId+1})}">next</a>
    </div>
</div>
<div th:replace="fragments/elements :: footer"></div>
</body>
</html>