<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Topics</title>
    <link rel="stylesheet" th:href="@{/css/fragments.css}">
    <link rel="stylesheet" th:href="@{/css/topic.css}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:replace="fragments/elements :: header"></div>
<div class="container">
    <div class="topic">
        <h1 th:text="${topic.getTitle()}"></h1>
        <div class="topic-user-info">
            <div class="user-left-side">
                <div class="user-image"></div>
                <div class="information">
                    <div class="user-info">
                        <a th:href="@{/profile/{username}(username = ${topic.getUserUsername().toLowerCase()})}" th:text="${topic.getUserUsername()}"></a>
                        <form class="star-form" th:action="@{/star/{username}(username = ${topic.getUserUsername().toLowerCase()})}" method="post">
                            <button type="submit" name="button">Star</button>
                        </form>
                    </div>
                    <p>Posted <span th:text="${topic.getCreatedAt()}"></span> ago &middot <a class="topic-type" href="#" th:text="${topic.getType()}"></a></p>
                </div>
            </div>
            <form class="vote" th:action="@{/vote/{id}(id = ${idVariable})}" method="post">
                <button type="submit" class="votebtn" id="vote-id" name="button">Vote</button>
            </form>
        </div>
        <div class="topic-content" th:text="${topic.getDescription()}">
        </div>
        <div class="topic-option">
            <a class="comment" href="#comment-id"><i class="fa fa-comments-o icon"></i>Comment</a>
            <div class="option-element">
                <a class="report" th:href="@{/topic/{id}/report(id = ${idVariable})}"><i class="fa fa-exclamation"></i></a>
                <form sec:authorize="isAuthenticated()" th:if="${#authentication.getPrincipal().getUsername().equals(topic.getUserUsername()) || #authentication.getPrincipal().getRoles().contains(T(com.forum.forum.other.enums.Role).ADMIN)}" th:action="@{/topic/{id}/delete(id = ${idVariable})}" method="post">
                    <button class="delete"><i class="fa fa-trash-o"></i></button>
                </form>
            </div>
        </div>
    </div>
    <div class="comments-list">
        <div class="comment-element" th:each="comment : ${comments}">
            <div class="comment-info">
                <div class="comment-user">
                    <div class="comment-user-image"></div>
                    <a th:href="@{/profile/{username}(username = ${comment.getUserUsername().toLowerCase()})}" th:text="${comment.getUserUsername()}"></a>
                </div>
                <p class="stars">Stars: <span th:text="${comment.getUserStars()}"></span><i class="fa fa-star"></i></p>
                <div class="comment-likes">
                    <form class="comment-likes" th:action="@{/topic/{topicId}/like/{commentId}?type=true(commentId = ${comment.getId()}, topicId = ${idVariable})}" method="post">
                        <button class="button-option" type="submit" name="like"><i class="fa fa-thumbs-up icon"></i><span th:text="${comment.getLikes()[0]}"></span></button>
                    </form>
                    <form class="comment-likes" th:action="@{/topic/{topicId}/like/{commentId}?type=false(commentId = ${comment.getId()}, topicId = ${idVariable})}" method="post">
                        <button class="button-option" type="submit" name="unlike"><i class="fa fa-thumbs-down icon"></i><span th:text="${comment.getLikes()[1]}"></span></button>
                    </form>
                </div>
            </div>
            <div class="comment-content">
                <div class="option-element" style="justify-content: space-between">
                    <p class="comment-info-posted">Posted <span th:text="${comment.getCreatedAt()}"></span> ago</p>
                    <form sec:authorize="isAuthenticated()" th:if="${#authentication.getPrincipal().getUsername().equals(comment.getUserUsername()) || #authentication.getPrincipal().getRoles().contains(T(com.forum.forum.other.enums.Role).ADMIN)}" th:action="@{/topic/{topicId}/comment/{commentId}/delete(commentId = ${comment.getId()}, topicId = ${idVariable})}" method="post">
                        <button class="delete" style="margin-top: 3px"><i class="fa fa-trash-o"></i></button>
                    </form>
                </div>
                <p th:text="${comment.getComment()}"></p>
            </div>
        </div>
    </div>
    <form class="comment-form" id="comment-id" th:action="@{/topic/{tid}/comment(tid=${topic.getId()})}" th:object="${commentInput}" method="post">
        <h1>Know answer?</h1>
        <textarea rows="8" cols="80" th:field="*{comment}" placeholder="Your answer"></textarea>
        <div class="errors" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></div>
        <input type="submit" name="" value="Answer">
    </form>
</div>
<div th:replace="fragments/elements :: footer"></div>
</body>
</html>